@model CDT.Importacao.Data.Model.Campo
@{

    SelectList layouts = new SelectList(new CDT.Importacao.Data.DAL.Classes.LayoutDAO().ListarTodos(), "IdLayout", "NomeLayout");
    SelectList registros = new SelectList(new CDT.Importacao.Data.DAL.Classes.RegistroDAO().ListarTodos(), "IdRegistro", "NomeRegistro");
    SelectList tiposDado = new SelectList(new CDT.Importacao.Data.DAL.Classes.TipoDadoDAO().ListarTodos(), "IdTipoDado", "NomeTipoDado");
}

<h2>Cadastro de Campo</h2>

@using (Html.BeginForm("Salvar", "Campo"))
{
    <fieldset>
        <div class="form-group">

            @Html.Label("Layout")
            @Html.DropDownList("Layout", layouts , "---", new { @class = "form-control", @onchange="return BindDDL(this,idRegistro,'Campo','RegistrosLayout');" })
           

            @Html.Label("Registro")
            @Html.DropDownList("idRegistro",new SelectList(String.Empty,"Value","Text"), "---", new { @class = "form-control" })
            @*@Html.ValidationMessageFor(x=>x.IdRegistro)<br />*@

            @Html.Label("Tipo")
            @Html.DropDownListFor(x => x.IdTipoDado, tiposDado, "---", new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.IdTipoDado)<br />


            @Html.Label("Nome do Campo")
            @Html.TextBoxFor(x => x.NomeCampo, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.NomeCampo)<br />

            @Html.Label("Posição Inicial")
            @Html.EditorFor(x => x.PosInicio, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.PosInicio)

            @Html.Label("Posição Final")
            @Html.EditorFor(x => x.PosFim, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.PosFim)<br /><br />

            @Html.Label("Campo relevante")
            @Html.EditorFor(x => x.FlagRelevante, new { @class = "form-control" })
        


            @if (Model != null)
            {

                @Html.HiddenFor(x => x.IdCampo);
            }

        </div>
        <a href="/Registro/Index" class="btn btn-primary">Cancelar</a>
        <input type="submit" value="Salvar" class="btn btn-primary" />


    </fieldset>
}


@*<script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $('#Layout').change(function ()
        {
            if ($("#Layout").val() != "")
            {
                $("#Registro").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("RegistrosLayout")', // we are calling json method

                    dataType: 'json',

                    data: { idLayout: $("#Layout").val() },
                    // here we are get value of selected country and passing same value


                    success: function (states) {

                        // states contains the JSON formatted list
                        // of states passed from the controller

                        $.each(states, function (i, state) {
                            $("#Registro").append('<option value="' + state.Value + '">' +
                                 state.Text + '</option>');
                            // here we are adding option for States

                        }

                        );


                        
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;
            } else {
                $("#Registro").empty();
            }

        })
    });

    </script>*@

